@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

:root {
    --background-color: #0000;
    --button-color: #C2FDFF;
    --card-color: #FFF6C2;
    --card-logo-color: #91B2B3;
    --card-text-color: #000000;

}
